@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.jumbotron {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.content {
  text-align: center;
}
.math-problem {
  margin-top: 10%;
}
hr {
  border-color: gray;
  border-width: .05em;
}
.red-text {
  color: red;
  font-size: 2em;
}
.green-text {
  color: green;
  font-size: 2em;
}
.jumbotron {
  background-color: #2F9395;
  color: #FFF;
}
body {
  background-image: url("Images/minimalist.jpg");
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
}